.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  font-size: 1.5rem;
  text-decoration: underline 2px lightcyan;
  font-weight: bold;
}
.text-center {
  font-size: 1.2rem;
  margin-top: 5px;
  text-decoration: underline 2px lightcyan;
  font-weight: bold;
}
.assingHeadine {
  display: flex;
  justify-content: center;
}
.reviewContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(171, 213, 224);
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
}
.reviewer {
  width: 90%;
}
.submitButtons {
  margin-left: 36%;
  width: 30%;
  margin-top: 10px;
  padding: 10px;
}
.submitButtons button {
  background-color: #ffff8f;
  width: 10vw;
  height: 25px;
  border: 1px solid lightcyan;
  border-radius: 20px;
}
.submitButtons button:hover {
  background-color: yellow;
}
.submitButtons2 {
  width: 10vw;
}

.btn {
  background-color: yellow;
}
#addemp {
  background-color: lightyellow;
}
