
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 30vw;
    height: 60vh;
    width: 40vw;
    border: 1px solid black;
}
.companyLogo{ 
    background-color:#bde1d7;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: 50%;
    
}
.companyLogo img{
   height:100px;
   width:100px;
   
}

.formInput{
     background-color:#c4b87d;
    height: 100%;
    width: 70%;
}
.formInput h1{
    margin-left: 30%;
    color:black;
}

.formInput form{
    margin-left: 10%;
    margin-top: 10%;
}

form input{
    width: 90%;
    height: 35px;
    margin: 10px 0px;
    border-radius: 30px;
    padding: 10px;
}
.buttons{
    display: flex;
    flex-direction: row;

}
.submitButtons{
    width: 40%;
    margin-left: 8%;
}

.submitButtons button{
    width: 100%;
    border-radius: 30px;
    background-color: #65909c;
}

.extraStuff{
    margin-top: 20px;
}